Repository go-fork/providers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @go-fork/maintainers, @go-fork/cache-team, @go-fork/config-team, @go-fork/http-team, @go-fork/log-team, @go-fork/database-team, @go-fork/comm-team, @go-fork/background-team, @go-fork/devops-team

.github/CODEOWNERS:

# Các maintainer của dự án Fork Providers
# Để biết thêm thông tin về tệp CODEOWNERS, hãy xem:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Mặc định các maintainer sẽ được chỉ định là reviewer cho tất cả các pull request
*                    @go-fork/maintainers

# Cache provider
/cache/              @go-fork/cache-team

# Config provider
/config/             @go-fork/config-team

# HTTP provider và các thành phần liên quan
/http/               @go-fork/http-team
/middleware/         @go-fork/http-team
/adaptor/http/       @go-fork/http-team

# Log provider
/log/                @go-fork/log-team

# Database providers
/mongodb/            @go-fork/database-team

# Communication providers
/mailer/             @go-fork/comm-team
/sms/                @go-fork/comm-team

# Background processing
/queue/              @go-fork/background-team
/scheduler/          @go-fork/background-team

# CI/CD và công cụ
/.github/            @go-fork/devops-team
/scripts/            @go-fork/devops-team

Updated goreleaser config and prepared remaining modules for release
  mailer/go.mod
  queue/CHANGELOG.md
  queue/go.mod
  scheduler/CHANGELOG.md
  sms/CHANGELOG.md
Owners: @go-fork/comm-team, @go-fork/background-team

docs(scheduler): update CHANGELOG for v0.0.3
  scheduler/CHANGELOG.md
Owners: @go-fork/background-team

docs(queue): update CHANGELOG for v0.0.3
  queue/CHANGELOG.md
Owners: @go-fork/background-team

docs(mailer): update CHANGELOG for v0.0.3
  mailer/CHANGELOG.md
Owners: @go-fork/comm-team

docs(sms): update CHANGELOG for v0.0.3
  sms/CHANGELOG.md
Owners: @go-fork/comm-team

chore: update module configurations and documentation
  .goreleaser.yml
  README.md
  cache/go.mod
  cache/go.sum
  docs/MODULE_INSTALLATION.md
  docs/RELEASE_PROCESS.md
  log/go.sum
Owners: @go-fork/maintainers, @go-fork/cache-team, @go-fork/log-team

feat: optimize GitHub Actions workflows for monorepo
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/examples-test.yml
  .github/workflows/examples.yml
  .github/workflows/metrics-report.yml
  .github/workflows/update-readme.yml
  .goreleaser.yml
Owners: @go-fork/devops-team, @go-fork/maintainers

docs: prepare release v0.0.4
  CHANGELOG.md
  RELEASE_NOTES_v0.0.4.md
Owners: @go-fork/maintainers

chore: remove doc-check.yml workflow
  .github/workflows/ci.yml
  .github/workflows/cross-version-check.yml
  .github/workflows/doc-check.yml
Owners: @go-fork/devops-team

ci: simplify GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/compatibility-check.yml
  .github/workflows/cross-version-check.yml
  .github/workflows/docs.yml
  .github/workflows/go-mod-validation.yml
  .github/workflows/integration-tests.yml
  .github/workflows/main-workflow.yml
  .github/workflows/module-release.yml
  .github/workflows/release.yml
Owners: @go-fork/devops-team

Add comprehensive main workflow and update dependencies
  RELEASE_NOTES_v0.0.4.md
  log/go.mod
  log/go.sum
Owners: @go-fork/maintainers, @go-fork/log-team

Fix module dependencies and skip failing tests
  cache/driver/redis_test_fix.go
  queue/go.mod
  queue/go.sum
Owners: @go-fork/cache-team, @go-fork/background-team

Fix test naming conventions by adding t.Skip() directly to problematic Redis tests
  cache/driver/redis_test.go
  cache/driver/redis_test_fix.go
Owners: @go-fork/cache-team

Update module dependencies to v0.0.4 for di, config, queue, and scheduler
  config/go.mod
  config/go.sum
  mailer/go.mod
  mailer/go.sum
  queue/go.mod
  queue/go.sum
  scheduler/go.mod
  scheduler/go.sum
Owners: @go-fork/config-team, @go-fork/comm-team, @go-fork/background-team

feat(config): Upgrade to github.com/go-fork/di v0.0.5
  config/CHANGELOG.md
  config/doc.go
  config/go.mod
  config/go.sum
  config/provider.go
  config/provider_test.go
Owners: @go-fork/config-team

fix: Remove redundant type assertion in TestNewServiceProvider
  config/provider_test.go
Owners: @go-fork/config-team

chore: Prepare release v0.0.5
  config/CHANGELOG.md
Owners: @go-fork/config-team

feat(config/mocks): regenerate MockManager using mockery
  config/.mockery.yaml
  config/go.mod
  config/go.sum
  config/mocks/doc.go
  config/mocks/manager.go
Owners: @go-fork/config-team

docs: update documentation for v0.0.6 release
  config/CHANGELOG.md
  config/README.md
Owners: @go-fork/config-team

feat: Initial release of Redis Provider v0.0.1
  redis/.mockery.yaml
  redis/CHANGELOG.md
  redis/README.md
  redis/config.go
  redis/config_test.go
  redis/configs/app.sample.yaml
  redis/doc.go
  redis/go.mod
  redis/go.sum
  redis/manager.go
  redis/manager_test.go
  redis/mocks/manager.go
  redis/provider.go
  redis/provider_test.go
Owners: @go-fork/maintainers

initialze commit
  mongodb/.mockery.yaml
  mongodb/README.md
  mongodb/config.go
  mongodb/config_test.go
  mongodb/configs/app.sample.yaml
  mongodb/constants.go
  mongodb/doc.go
  mongodb/go.mod
  mongodb/go.sum
  mongodb/manager.go
  mongodb/manager_test.go
  mongodb/mocks/README.md
  mongodb/mocks/manager.go
  mongodb/provider.go
  mongodb/provider_test.go
Owners: @go-fork/database-team

feat(mongodb) Added CHANGELOG.md
  mongodb/CHANGELOG.md
Owners: @go-fork/database-team

feat: Release v0.0.5 - Major Service Provider and Configuration Improvements
  cache/.mockery.yaml
  cache/CHANGELOG.md
  cache/MOCKS_USAGE.md
  cache/README.md
  cache/config/config.go
  cache/config/config_test.go
  cache/configs/app.sample.yaml
  cache/doc.go
  cache/driver/file.go
  cache/driver/file_test.go
  cache/driver/memory.go
  cache/driver/memory_test.go
  cache/driver/mongodb.go
  cache/driver/mongodb_test.go
  cache/driver/redis.go
  cache/driver/redis_test.go
  cache/go.mod
  cache/go.sum
  cache/manager.go
  cache/manager_test.go
  cache/mocks/driver.go
  cache/mocks/manager.go
  cache/provider.go
  cache/provider_test.go
Owners: @go-fork/cache-team

feat: implement EnsureIndexes method in MongoDB cache driver
  cache/driver/mongodb.go
  cache/driver/mongodb_test.go
Owners: @go-fork/cache-team

feat: Add configuration-driven scheduler with auto-start and distributed locking
  scheduler/CHANGELOG.md
  scheduler/README.md
  scheduler/config.go
  scheduler/configs/app.sample.yaml
  scheduler/doc.go
  scheduler/go.mod
  scheduler/go.sum
  scheduler/locker.go
  scheduler/locker_test.go
  scheduler/manager.go
  scheduler/manager_test.go
  scheduler/provider.go
  scheduler/provider_test.go
Owners: @go-fork/background-team

feat(scheduler): add mockery configuration and mocks
  scheduler/.mockery.yaml
  scheduler/RELEASE_NOTES_v0.0.4.md
  scheduler/config.go
  scheduler/go.mod
  scheduler/locker.go
  scheduler/manager.go
  scheduler/mocks/manager.go
  scheduler/provider.go
Owners: @go-fork/background-team

feat(scheduler): update changelog
  scheduler/CHANGELOG.md
Owners: @go-fork/background-team

feat: release queue provider v0.0.5 with Redis Provider integration
  queue/.mockery.yaml
  queue/CHANGELOG.md
  queue/MIGRATION_v0.0.4.md
  queue/MIGRATION_v0.0.5.md
  queue/README.md
  queue/RELEASE_NOTES_v0.0.5.md
  queue/adapter/redis.go
  queue/config.go
  queue/config_test.go
  queue/configs/app.sample.yaml
  queue/configs/production.sample.yaml
  queue/doc.go
  queue/example_integration.go
  queue/go.mod
  queue/go.sum
  queue/integration_test.go
  queue/manager.go
  queue/manager_test.go
  queue/mocks/adapter.go
  queue/mocks/client.go
  queue/mocks/manager.go
  queue/mocks/server.go
  queue/provider.go
  queue/provider_cleanup_test.go
  queue/provider_test.go
  queue/server.go
  queue/server_test.go
  queue/task_test.go
Owners: @go-fork/background-team

feat: nâng cấp tương thích với di v0.0.5 và thêm các methods mới cho ServiceProvider
  log/CHANGELOG.md
  log/README.md
  log/doc.go
  log/go.mod
  log/go.sum
  log/provider.go
  log/provider_test.go
Owners: @go-fork/log-team

feat: upgrade to di v0.0.5 and implement required interfaces
  mailer/CHANGELOG.md
  mailer/README.md
  mailer/doc.go
  mailer/go.mod
  mailer/go.sum
  mailer/manager.go
  mailer/provider.go
  mailer/provider_test.go
Owners: @go-fork/comm-team

fix(log): prevent resource leak when replacing handlers in AddHandler method
  log/manager.go
  log/manager_test.go
Owners: @go-fork/log-team

docs(log): update changelog for v0.0.5 release
  log/CHANGELOG.md
Owners: @go-fork/log-team

feat: release config/v0.1.0 - migrated to go.fork.vn domain
  config/.mockery.yaml
  config/CHANGELOG.md
  config/README.md
  config/doc.go
  config/docs/config.md
  config/docs/usage.md
  config/go.mod
  config/go.sum
  config/manager.go
  config/provider.go
  config/provider_test.go
Owners: @go-fork/config-team

docs: add release notes for config/v0.1.0
  config/RELEASE_NOTES_v0.1.0.md
Owners: @go-fork/config-team

feat: release mongodb/v0.1.0 - migrated to go.fork.vn domain
  mongodb/.mockery.yaml
  mongodb/CHANGELOG.md
  mongodb/README.md
  mongodb/RELEASE_NOTES_v0.1.0.md
  mongodb/docs/mongodb.md
  mongodb/docs/usage.md
  mongodb/go.mod
  mongodb/go.sum
  mongodb/mocks/README.md
  mongodb/mocks/manager.go
  mongodb/provider.go
  mongodb/provider_test.go
Owners: @go-fork/database-team

feat: release config/v0.1.0 - migrated to go.fork.vn domain
  config/RELEASE_NOTES_v0.1.0.md
Owners: @go-fork/config-team

feat: release mongodb/v0.1.0 - migrated to go.fork.vn domain
  mongodb/RELEASE_NOTES_v0.1.0.md
  mongodb/docs/mongodb.md
  mongodb/docs/usage.md
  mongodb/go.sum
Owners: @go-fork/database-team

feat: release redis/v0.1.0 - migrated to go.fork.vn domain
  redis/.mockery.yaml
  redis/CHANGELOG.md
  redis/README.md
  redis/RELEASE_NOTES_v0.1.0.md
  redis/doc.go
  redis/docs/redis.md
  redis/docs/usage.md
  redis/go.mod
  redis/go.sum
  redis/mocks/manager.go
  redis/provider.go
  redis/provider_test.go
Owners: @go-fork/maintainers

feat(log): release v0.1.0 with module path migration
  cache/.mockery.yaml
  cache/MOCKS_USAGE.md
  cache/README.md
  cache/doc.go
  cache/driver/file.go
  cache/driver/file_test.go
  cache/driver/memory.go
  cache/driver/memory_test.go
  cache/driver/mongodb.go
  cache/driver/mongodb_test.go
  cache/driver/redis.go
  cache/driver/redis_test.go
  cache/go.mod
  cache/go.sum
  cache/manager.go
  cache/manager_test.go
  cache/mocks/manager.go
  cache/provider.go
  cache/provider_test.go
  log/CHANGELOG.md
  log/RELEASE_NOTES_v0.1.0.md
  log/doc.go
  log/docs/log.md
  log/docs/usage.md
  log/go.mod
  log/go.sum
  log/manager.go
  log/manager_test.go
  log/provider.go
  log/provider_test.go
Owners: @go-fork/cache-team, @go-fork/log-team
